.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

/* Boxes images styling */
.image-container {
    position: relative;
    top: 8vw;
    left: 4.5vw;
    width: 450px;
    /* Increased width */
    height: 450px;
    /* Increased height */
    margin: 10px;
    /* Added margin for gap */
}

.image-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease;
}